body{
    display: flex;
    flex-direction: column;
    background-color: #9ccfd8;
    color: #26233a;;
    font-family: 'RocknRoll One', sans-serif;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1{
    font-family: 'Indie Flower', sans-serif;
    width: 100%;
}

footer{
    font-size: small;
}

ul{
    list-style: none;
}

.checkout{
    margin: 1em 0em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    background-color: #eb6f92;
}

.cart{
    grid-column: 1/-1;
    grid-row: 1;
}

.item{
    grid-row: 2;
}

.albums{
    display: flex;
    flex-direction: column;
}

.blue{
    background-color: #31748f;
}


